name: Run Tests

on:
  pull_request:
    branches: [ main ]

jobs:
  tests:
    name: Run Tests Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Make script executable
        run: chmod +x run_tests.sh

      - name: Run tests
        run: ./run_tests.sh
